# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30122"
endpoint_add_udp "0.0.0.0:30122"

set mysql_connection_string "server=127.0.0.1;database=sincity;userid=sincity;password=xxx"
set es_enableCustomData 1
#-----ONESYNC----#
#set onesync_distanceCullVehicles true #Cause des crash pour le moment + Cause des joueurs invisibles
#set onesync_forceMigration true
set onesync_workaround763185 true

add_ace group.superadmin chocohax allow #This group will have all permissions

add_ace group.admin chocohax allow #This group will have all permissions except for `chocohax.immune`
add_ace group.admin chocohax.immune deny

add_ace group.mod chocohax.adminmenu allow #This group will have custom permissions (Client sided perms without some accesses)
add_ace group.mod chocohax.noclip allow
add_ace group.mod chocohax.esp allow
add_ace group.mod chocohax.vehicles allow
add_ace group.mod chocohax.weapons allow
add_ace group.mod chocohax.debugMenu allow
add_ace group.mod chocohax.teleports allow
add_ace group.mod chocohax.showcoords allow
add_ace group.mod chocohax.cleararea allow
add_ace group.mod chocohax.kick allow
add_ace group.mod chocohax.mute allow
add_ace group.mod chocohax.unmute allow
add_ace group.mod chocohax.requestidentifiers allow
add_ace group.mod chocohax.spectate allow
add_ace group.mod chocohax.screenshot allow
add_ace group.mod chocohax.kick allow


add_principal identifier.discord:328792997405786115 group.superadmin ##Enoz

#ensure esx_player_manager

set sv_enforceGameBuild 2189  					#Ajout du DLC Casino

exec cfg/admin/permissions.cfg
exec cfg/admin/easyadmin.cfg
exec cfg/permissions.cfg



exec cfg/base.cfg
exec cfg/ui.cfg
exec cfg/fiscal.cfg
exec cfg/personnage.cfg
exec cfg/illegal.cfg
exec cfg/lib.cfg
exec cfg/utils.cfg
exec cfg/vehicule.cfg
exec cfg/admin.cfg
exec cfg/weapon.cfg
exec cfg/job.cfg
exec cfg/modVeh.cfg
exec cfg/maps.cfg
exec cfg/skins.cfg
exec cfg/vocal.cfg
exec cfg/animations.cfg
exec cfg/shops.cfg
exec cfg/gang.cfg


ensure allhousing
ensure allhousing_furni
ensure house
ensure input
ensure mediumShells
ensure meta_libs
ensure mythic_interiors
ensure shellslocked
ensure V2highendShells
ensure whiteshell
ensure JMusms
#ensure shells
#ensure shellsv2
#ensure Penthouse
##########################TEST / EN PROD#######################################

ensure sincity3_jobs

#######################################################################################



# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like #
# A comma-separated list of tags for your server.


# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets locale "fr-FR" 
# please DO replace root-AQ on the line ABOVE with a real language! :)

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
sets banner_detail "https://zupimages.net/up/20/43/wrrk.png"
sets banner_connecting "https://zupimages.net/up/20/43/wrrk.png"

# Set your server's hostname

# Nested configs!
#exec server_internal.cfg
# Loading a server icon (96x96 PNG file)
load_server_icon myLogo.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Hide player endpoints in external log output.
sv_endpointprivacy true
# License key for your server (https://keymaster.fivem.net)
sets sv_projectName "[WL🗝️] ^5SinCity Life | V3 | Wipe le 01/07/2021"
sets sv_projectDesc "[WL🗝️] SinCity Life | V3 | Wipe le 01/07/2021"
set sv_hostname "[WL🗝️] ^5SinCity Life | V3 | Wipe le 01/07/2021"

sets Discord "🔊 https://discord 🔊"
sets Etat "💻✅"
sets tags "SincityLife, roleplay, rp, voiture, réel, fr, francais, esx, mod, event"

rcon_password ""
sv_maxclients 350
set onesync_forceMigration true
set onesync_workaround763185 true
set onesync_enableInfinity 1
#set onesync_enabled 1
set sv_enforceGameBuild 2189
#set onesync_population false
sv_licenseKey mpatde4kt1r9i
set steam_webApiKey "D35BEB26D3"
restart sessionmanager
